<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compagne">
      <h2 data-cy="compagneDetailsHeading"><span jhiTranslate="ebedouApp.compagne.detail.title">campagne </span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compagne.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.compagne.libelle">Libelle</span></dt>
        <dd>
          <span>{{ compagne.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.compagne.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ compagne.dateCreation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.compagne.etat">Etat</span></dt>
        <dd *ngIf="compagne.etat">
          <span>Ouvert</span>
        </dd>
        <dd *ngIf="!compagne.etat">
          <span>Fermée</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compagne', compagne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
