<div>
  <h2 id="page-heading" data-cy="PrixproduitHeading">
    <span jhiTranslate="ebedouApp.prixproduit.home.title">Prixproduits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ebedouApp.prixproduit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prixproduit"
        [routerLink]="['/prixproduit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebedouApp.prixproduit.home.createLabel"> Create a new Prixproduit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prixproduits?.length === 0">
    <span jhiTranslate="ebedouApp.prixproduit.home.notFound">No prixproduits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prixproduits && prixproduits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span jhiTranslate="ebedouApp.prixproduit.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateAjout">
            <span jhiTranslate="ebedouApp.prixproduit.dateAjout">Date Ajout</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateModification">
            <span jhiTranslate="ebedouApp.prixproduit.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produit.id">
            <span jhiTranslate="ebedouApp.prixproduit.produit">Produit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compagne.id">
            <span jhiTranslate="ebedouApp.prixproduit.compagne">Compagne</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prixproduit of prixproduits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prixproduit', prixproduit.id, 'view']">{{ prixproduit.id }}</a>
          </td>
          <td>{{ prixproduit.prix }}</td>
          <td>{{ prixproduit.dateAjout | formatMediumDatetime }}</td>
          <td>{{ prixproduit.dateModification | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="prixproduit.produit">
              <a [routerLink]="['/produit', prixproduit.produit?.id, 'view']">{{ prixproduit.produit?.libelle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prixproduit.compagne">
              <a [routerLink]="['/compagne', prixproduit.compagne?.id, 'view']">{{ prixproduit.compagne?.libelle }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prixproduit', prixproduit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prixproduit', prixproduit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(prixproduit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="prixproduits && prixproduits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
