<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cooperative">
      <h2 data-cy="cooperativeDetailsHeading"><span jhiTranslate="ebedouApp.cooperative.detail.title">Cooperative</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cooperative.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.cooperative.libelle">Libelle</span></dt>
        <dd>
          <span>{{ cooperative.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.cooperative.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ cooperative.dateCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.cooperative.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ cooperative.dateModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.cooperative.etat">Etat</span></dt>
        <dd>
          <span>{{ cooperative.etat }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.cooperative.gerant">Gerant</span></dt>
        <dd>
          <div *ngIf="cooperative.gerant">
            <a [routerLink]="['/infoplus', cooperative.gerant?.id, 'view']">{{ cooperative.gerant?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cooperative', cooperative.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
