<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="infoplus">
      <h2 data-cy="infoplusDetailsHeading"><span jhiTranslate="ebedouApp.infoplus.detail.title">Infoplus</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ infoplus.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.numeroTelephone">Numero Telephone</span></dt>
        <dd>
          <span>{{ infoplus.numeroTelephone }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.pieceIdentite">Piece Identite</span></dt>
        <dd>
          <div *ngIf="infoplus.pieceIdentite">
            <a (click)="openFile(infoplus.pieceIdentite, infoplus.pieceIdentiteContentType)" jhiTranslate="entity.action.open">open</a>
            {{ infoplus.pieceIdentiteContentType }}, {{ byteSize(infoplus.pieceIdentite) }}
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.copieAgrement">Copie Agrement</span></dt>
        <dd>
          <div *ngIf="infoplus.copieAgrement">
            <a (click)="openFile(infoplus.copieAgrement, infoplus.copieAgrementContentType)" jhiTranslate="entity.action.open">open</a>
            {{ infoplus.copieAgrementContentType }}, {{ byteSize(infoplus.copieAgrement) }}
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ infoplus.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.lieuNaissance">Lieu Naissance</span></dt>
        <dd>
          <span>{{ infoplus.lieuNaissance }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.genre">Genre</span></dt>
        <dd>
          <span>{{ infoplus.genre }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.user">User</span></dt>
        <dd>
          <span>{{ infoplus.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.nationnalite">Nationnalite</span></dt>
        <dd>
          <div *ngIf="infoplus.nationnalite">
            <a [routerLink]="['/nationnalite', infoplus.nationnalite?.id, 'view']">{{ infoplus.nationnalite?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.infoplus.zoneExploitation">Zone Exploitation</span></dt>
        <dd>
          <div *ngIf="infoplus.zoneExploitation">
            <a [routerLink]="['/zone-exploitation', infoplus.zoneExploitation?.id, 'view']">{{ infoplus.zoneExploitation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/infoplus', infoplus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
