<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="quantiteProduit">
      <h2 data-cy="quantiteProduitDetailsHeading"><span jhiTranslate="ebedouApp.quantiteProduit.detail.title">Quantite Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ quantiteProduit.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.quantite">Quantite</span></dt>
        <dd>
          <span>{{ quantiteProduit.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.dateAjout">Date Ajout</span></dt>
        <dd>
          <span>{{ quantiteProduit.dateAjout | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ quantiteProduit.dateModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.description">Description</span></dt>
        <dd>
          <span>{{ quantiteProduit.description }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.quantiteRestant">Quantite Restant</span></dt>
        <dd>
          <span>{{ quantiteProduit.quantiteRestant }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.prixproduit">Prixproduit</span></dt>
        <dd>
          <div *ngIf="quantiteProduit.prixproduit">
            <a [routerLink]="['/prixproduit', quantiteProduit.prixproduit?.id, 'view']">{{ quantiteProduit.prixproduit?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.quantiteProduit.user">User</span></dt>
        <dd>
          <span>{{ quantiteProduit.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/quantite-produit', quantiteProduit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
