<div>
  <h2 id="page-heading" data-cy="ImageProduitHeading">
    <span jhiTranslate="ebedouApp.imageProduit.home.title">Image Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ebedouApp.imageProduit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image-produit"
        [routerLink]="['/image-produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebedouApp.imageProduit.home.createLabel"> Create a new Image Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="imageProduits?.length === 0">
    <span jhiTranslate="ebedouApp.imageProduit.home.notFound">No imageProduits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="imageProduits && imageProduits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="ebedouApp.imageProduit.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="ebedouApp.imageProduit.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let imageProduit of imageProduits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image-produit', imageProduit.id, 'view']">{{ imageProduit.id }}</a>
          </td>
          <td>
            <a *ngIf="imageProduit.image" (click)="openFile(imageProduit.image, imageProduit.imageContentType)">
              <img
                [src]="'data:' + imageProduit.imageContentType + ';base64,' + imageProduit.image"
                style="max-height: 30px"
                alt="imageProduit image"
              />
            </a>
            <span *ngIf="imageProduit.image">{{ imageProduit.imageContentType }}, {{ byteSize(imageProduit.image) }}</span>
          </td>
          <td>{{ imageProduit.date | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/image-produit', imageProduit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/image-produit', imageProduit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(imageProduit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="imageProduits && imageProduits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
