<div class="container-fluid">
  <h2 id="page-heading" data-cy="QuantiteProduitHeading">
    <span jhiTranslate="ebedouApp.quantiteProduit.home.title">Quantite Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ebedouApp.quantiteProduit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-quantite-produit"
        (click)="open()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebedouApp.quantiteProduit.home.createLabel"> Create a new Quantite Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="quantiteProduits?.length === 0">
    <span jhiTranslate="ebedouApp.quantiteProduit.home.notFound">No quantiteProduits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="quantiteProduits && quantiteProduits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="ebedouApp.quantiteProduit.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateAjout">
            <span jhiTranslate="ebedouApp.quantiteProduit.dateAjout">Date Ajout</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateModification">
            <span jhiTranslate="ebedouApp.quantiteProduit.dateModification">Date Modification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="ebedouApp.quantiteProduit.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quantiteRestant">
            <span jhiTranslate="ebedouApp.quantiteProduit.quantiteRestant">Quantite Restant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prixproduit.id">
            <span jhiTranslate="ebedouApp.quantiteProduit.prixproduit">Prixproduit</span> <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quantiteProduit of quantiteProduits; trackBy: trackId" data-cy="entityTable">
          <td>
            {{ quantiteProduit.id }}
          </td>
          <td>{{ quantiteProduit.quantite }}</td>
          <td>{{ quantiteProduit.dateAjout | formatMediumDatetime }}</td>
          <td>{{ quantiteProduit.dateModification | formatMediumDatetime }}</td>
          <td>{{ quantiteProduit.description }}</td>
          <td>{{ quantiteProduit.quantiteRestant }}</td>
          <td>
            <div *ngIf="quantiteProduit.prixproduit">
              {{ quantiteProduit.prixproduit?.id }}
            </div>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="open(quantiteProduit)" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(quantiteProduit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="quantiteProduits && quantiteProduits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
