<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="prixproduit">
      <h2 data-cy="prixproduitDetailsHeading"><span jhiTranslate="ebedouApp.prixproduit.detail.title">Prixproduit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ prixproduit.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.prixproduit.prix">Prix</span></dt>
        <dd>
          <span>{{ prixproduit.prix }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.prixproduit.dateAjout">Date Ajout</span></dt>
        <dd>
          <span>{{ prixproduit.dateAjout | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.prixproduit.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ prixproduit.dateModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.prixproduit.produit">Produit</span></dt>
        <dd>
          <div *ngIf="prixproduit.produit">
            <a [routerLink]="['/produit', prixproduit.produit?.id, 'view']">{{ prixproduit.produit?.libelle }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.prixproduit.compagne">Compagne</span></dt>
        <dd>
          <div *ngIf="prixproduit.compagne">
            <a [routerLink]="['/compagne', prixproduit.compagne?.id, 'view']">{{ prixproduit.compagne?.libelle }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/prixproduit', prixproduit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
