<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prixproduit-heading" data-cy="PrixproduitCreateUpdateHeading" jhiTranslate="ebedouApp.prixproduit.home.createOrEditLabel">
        Create or edit a Prixproduit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.prixproduit.prix" for="field_prix">Prix</label>
          <input type="number" class="form-control" name="prix" id="field_prix" data-cy="prix" formControlName="prix" />
          <div *ngIf="editForm.get('prix')!.invalid && (editForm.get('prix')!.dirty || editForm.get('prix')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prix')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('prix')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.prixproduit.dateAjout" for="field_dateAjout">Date Ajout</label>
          <div class="d-flex">
            <input
              id="field_dateAjout"
              data-cy="dateAjout"
              type="datetime-local"
              class="form-control"
              name="dateAjout"
              formControlName="dateAjout"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dateAjout')!.invalid && (editForm.get('dateAjout')!.dirty || editForm.get('dateAjout')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateAjout')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateAjout')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.prixproduit.dateModification" for="field_dateModification"
            >Date Modification</label
          >
          <div class="d-flex">
            <input
              id="field_dateModification"
              data-cy="dateModification"
              type="datetime-local"
              class="form-control"
              name="dateModification"
              formControlName="dateModification"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('dateModification')!.invalid &&
              (editForm.get('dateModification')!.dirty || editForm.get('dateModification')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateModification')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateModification')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.prixproduit.produit" for="field_produit">Produit</label>
          <select class="form-control" id="field_produit" data-cy="produit" name="produit" formControlName="produit">
            <option *ngIf="editForm.get(['produit'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="produitOption.id === editForm.get('produit')!.value?.id ? editForm.get('produit')!.value : produitOption"
              *ngFor="let produitOption of produitsCollection; trackBy: trackProduitById"
            >
              {{ produitOption.libelle }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['produit'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.prixproduit.compagne" for="field_compagne">Compagne</label>
          <select class="form-control" id="field_compagne" data-cy="compagne" name="compagne" formControlName="compagne">
            <option *ngIf="!editForm.get('compagne')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="compagneOption.id === editForm.get('compagne')!.value?.id ? editForm.get('compagne')!.value : compagneOption"
              *ngFor="let compagneOption of compagnesSharedCollection; trackBy: trackCompagneById"
            >
              {{ compagneOption.libelle }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['compagne'])!.invalid && (editForm.get(['compagne'])!.dirty || editForm.get(['compagne'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['compagne'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
