<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="demande">
      <h2 data-cy="demandeDetailsHeading"><span jhiTranslate="ebedouApp.demande.detail.title">Demande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demande.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.demande.date">Date</span></dt>
        <dd>
          <span>{{ demande.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.demande.etat">Etat</span></dt>
        <dd>
          <span>{{ demande.etat }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.demande.user">User</span></dt>
        <dd>
          <span>{{ demande.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.demande.cooperative">Cooperative</span></dt>
        <dd>
          <div *ngIf="demande.cooperative">
            <a [routerLink]="['/cooperative', demande.cooperative?.id, 'view']">{{ demande.cooperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande', demande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
