<div class="row justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="modal-header">
        <h2
          id="jhi-quantite-produit-heading"
          data-cy="QuantiteProduitCreateUpdateHeading"
          jhiTranslate="ebedouApp.quantiteProduit.home.createOrEditLabel"
        >
          Create or edit a Quantite Produit
        </h2>
      </div>
      <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.quantiteProduit.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          <div *ngIf="editForm.get('quantite')!.invalid && (editForm.get('quantite')!.dirty || editForm.get('quantite')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantite')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.quantiteProduit.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.quantiteProduit.prixproduit" for="field_prixproduit">Prixproduit</label>
          <select class="form-control" id="field_prixproduit" data-cy="prixproduit" name="prixproduit" formControlName="prixproduit">
            <option *ngIf="!editForm.get('prixproduit')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                prixproduitOption.id === editForm.get('prixproduit')!.value?.id ? editForm.get('prixproduit')!.value : prixproduitOption
              "
              *ngFor="let prixproduitOption of prixproduitsSharedCollection; trackBy: trackPrixproduitById"
            >
              {{ prixproduitOption.prix }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['prixproduit'])!.invalid && (editForm.get(['prixproduit'])!.dirty || editForm.get(['prixproduit'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['prixproduit'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
