<div class="example-container" [ngSwitch]="isAuthenticated()">
  <mat-toolbar class="example-toolbar mat-elevation-z24" style="background: #074207; color: white">
    <button *ngSwitchCase="true" mat-icon-button (click)="etat = !etat"><span class="material-icons-outlined"> menu </span></button>
    <h1 class="display1">EBEDOU</h1>
    <span class="nav-spacer"></span>

    <button style="background-color: #074207; color: white; size: 30px" [matMenuTriggerFor]="language">
      <span jhiTranslate="global.menu.language" style="size: 30px">Language</span>
    </button>
    <mat-menu #language="matMenu">
      <button mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language)">
        <span>{{ language | findLanguageFromKey }}</span>
      </button>
    </mat-menu>
    <button *ngSwitchCase="true" mat-button [matMenuTriggerFor]="profile">
      <img src="../../../content/images/Connexionn.png" alt="" />
    </button>
    <button *ngSwitchCase="false" style="background-color: #074207; color: white; size: 20px" (click)="login()">
      <span jhiTranslate="global.menu.account.login">connexion</span>
    </button>

    <mat-menu #profile="matMenu">
      <button mat-menu-item *ngSwitchCase="true">
        <span>Profile</span>
      </button>
      <button mat-menu-item *ngSwitchCase="true">
        <span>Settings</span>
      </button>
      <button mat-menu-item *ngSwitchCase="true" (click)="logout()">
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container mat-elevation-z24" [style.marginTop.px]="mobileQuery.matches ? 10 : 0">
    <mat-sidenav
      [(opened)]="etat"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="43"
      [ngSwitch]="isAuthenticated()"
    >
      <nav id="sidebar">
        <div class="logo-nav" *ngSwitchCase="true">
          <h1 class="display1">EBEDOU</h1>
        </div>

        <ul class="list-unstyled components">
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <span><img src="../../../content/images/gestion des utilisateur.png" alt="" style="margin-right: 10px" /></span>
              <span class="label a">Utilisateurs</span></a
            >
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a class="a" mat-list-item (click)="onclick('actif')" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <span class="label" class="a">Actif</span>
                </a>
              </li>
              <li>
                <a
                  class="a"
                  mat-list-item
                  (click)="onclick('nonactif')"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">Non Actif</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <span><img src="../../../content/images/parametre.png" alt="" style="margin-right: 10px" /></span>
              <span class="label a">Paramétrage</span></a
            >
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="pays"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">Pays</span>
                </a>
              </li>
              <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="zone-exploitation"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">Zone d'exploitation</span>
                </a>
              </li>
              <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="prixproduit"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">Prix </span>
                </a>
              </li>
              <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="campagne"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">campagne </span>
                </a>
              </li>
              <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="produit"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">produit</span>
                </a>
              </li>
              <!--   <li>
                <a
                  class="a"
                  *jhiHasAnyAuthority="['ROLE_ADMIN']"
                  mat-list-item
                  routerLink="prixproduit"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <span class="label" class="a">prix produit</span>
                </a>
              </li> -->
            </ul>
          </li>
          <li>
            <a
              class="a"
              *jhiHasAnyAuthority="['ROLE_ADMIN']"
              routerLink="cooperative"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span><img src="../../../content/images/service web.png" alt="" style="margin-right: 10px" /></span>
              <span class="label a">Coopérative</span>
            </a>
          </li>
          <li>
            <a
              class="a"
              *jhiHasAnyAuthority="['ROLE_ADMIN']"
              routerLink="mesProduit"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span><img src="../../../content/images/coffee.jpg" alt="" style="margin-right: 10px" /></span>
              <span class="label a"> Mes Produit </span>
            </a>
          </li>
          <li>
            <a
              class="a"
              *jhiHasAnyAuthority="['ROLE_ADMIN']"
              routerLink="wallet"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span><img src="../../../content/images/portef.jpg" alt="" style="margin-right: 10px" /></span>
              <span class="label a"> Porte feuille </span>
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="">
    <mat-toolbar class="mat-elevation-z24" style="background: #074207; color: #fff">
      <span class="display1" style="margin-top: 10px">&copy;EBEDOU</span>
      <span class="nav-spacer"></span>
      <span class="display1" style="margin-top: 10px"> </span>
    </mat-toolbar>
  </div>
</div>
