<div>
  <h2 id="page-heading" data-cy="DepartementHeading">
    <span jhiTranslate="ebedouApp.departement.home.title">Departements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ebedouApp.departement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-departement"
        [routerLink]="['/departement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebedouApp.departement.home.createLabel"> Create a new Departement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="departements?.length === 0">
    <span jhiTranslate="ebedouApp.departement.home.notFound">No departements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="departements && departements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ebedouApp.departement.image">Image</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departement of departements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/departement', departement.id, 'view']">{{ departement.id }}</a>
          </td>
          <td>
            <a *ngIf="departement.image" (click)="openFile(departement.image, departement.imageContentType)">
              <img
                [src]="'data:' + departement.imageContentType + ';base64,' + departement.image"
                style="max-height: 30px"
                alt="departement image"
              />
            </a>
            <span *ngIf="departement.image">{{ departement.imageContentType }}, {{ byteSize(departement.image) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/departement', departement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/departement', departement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(departement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
