<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="listeCooperative">
      <h2 data-cy="listeCooperativeDetailsHeading">
        <span jhiTranslate="ebedouApp.listeCooperative.detail.title">Liste Cooperative</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ listeCooperative.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.listeCooperative.membre">Membre</span></dt>
        <dd>
          <div *ngIf="listeCooperative.membre">
            <a [routerLink]="['/infoplus', listeCooperative.membre?.id, 'view']">{{ listeCooperative.membre?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.listeCooperative.cooperative">Cooperative</span></dt>
        <dd>
          <div *ngIf="listeCooperative.cooperative">
            <a [routerLink]="['/cooperative', listeCooperative.cooperative?.id, 'view']">{{ listeCooperative.cooperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/liste-cooperative', listeCooperative.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
