<div class="container-fluid">
  <h2 id="page-heading" data-cy="InfoplusHeading">
    <span jhiTranslate="ebedouApp.infoplus.home.title">Infopluses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ebedouApp.infoplus.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-infoplus"
        [routerLink]="['/infoplus/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ebedouApp.infoplus.home.createLabel"> Create a new Infoplus </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="infopluses?.length === 0">
    <span jhiTranslate="ebedouApp.infoplus.home.notFound">No infopluses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="infopluses && infopluses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numeroTelephone">
            <span jhiTranslate="ebedouApp.infoplus.numeroTelephone">Numero Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pieceIdentite">
            <span jhiTranslate="ebedouApp.infoplus.pieceIdentite">Piece Identite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="copieAgrement">
            <span jhiTranslate="ebedouApp.infoplus.copieAgrement">Copie Agrement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateNaissance">
            <span jhiTranslate="ebedouApp.infoplus.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lieuNaissance">
            <span jhiTranslate="ebedouApp.infoplus.lieuNaissance">Lieu Naissance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="genre"><span jhiTranslate="ebedouApp.infoplus.genre">Genre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="ebedouApp.infoplus.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationnalite.id">
            <span jhiTranslate="ebedouApp.infoplus.nationnalite">Nationnalite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="zoneExploitation.id">
            <span jhiTranslate="ebedouApp.infoplus.zoneExploitation">Zone Exploitation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infoplus of infopluses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/infoplus', infoplus.id, 'view']">{{ infoplus.id }}</a>
          </td>
          <td>{{ infoplus.numeroTelephone }}</td>
          <td>
            <a
              *ngIf="infoplus.pieceIdentite"
              (click)="openFile(infoplus.pieceIdentite, infoplus.pieceIdentiteContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="infoplus.pieceIdentite">{{ infoplus.pieceIdentiteContentType }}, {{ byteSize(infoplus.pieceIdentite) }}</span>
          </td>
          <td>
            <a
              *ngIf="infoplus.copieAgrement"
              (click)="openFile(infoplus.copieAgrement, infoplus.copieAgrementContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="infoplus.copieAgrement">{{ infoplus.copieAgrementContentType }}, {{ byteSize(infoplus.copieAgrement) }}</span>
          </td>
          <td>{{ infoplus.dateNaissance | formatMediumDate }}</td>
          <td>{{ infoplus.lieuNaissance }}</td>
          <td>{{ infoplus.genre }}</td>
          <td>
            {{ infoplus.user?.login }}
          </td>
          <td>
            <div *ngIf="infoplus.nationnalite">
              <a [routerLink]="['/nationnalite', infoplus.nationnalite?.id, 'view']">{{ infoplus.nationnalite?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="infoplus.zoneExploitation">
              <a [routerLink]="['/zone-exploitation', infoplus.zoneExploitation?.id, 'view']">{{ infoplus.zoneExploitation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/infoplus', infoplus.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/infoplus', infoplus.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(infoplus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="infopluses && infopluses.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
