<mat-card>
  <mat-card-content>
    <div mat-elevation-z24>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 jhiTranslate="register.title" style="text-align: center" class="display1" data-cy="registerTitle">Registration</h1>

          <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
          </div>

          <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
          </div>

          <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
            <strong>Login name already registered!</strong> Please choose another one.
          </div>

          <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
            <strong>Email is already in use!</strong> Please choose another one.
          </div>

          <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="form-group">
              <label class="form-control-label" for="login" jhiTranslate="global.form.username.label">Username</label>
              <input
                type="text"
                class="form-control"
                id="login"
                name="login"
                placeholder="{{ 'global.form.username.placeholder' | translate }}"
                formControlName="login"
                data-cy="username"
                #login
              />

              <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.required"
                  jhiTranslate="register.messages.validate.login.required"
                >
                  Your username is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.minlength"
                  jhiTranslate="register.messages.validate.login.minlength"
                >
                  Your username is required to be at least 1 character.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.maxlength"
                  jhiTranslate="register.messages.validate.login.maxlength"
                >
                  Your username cannot be longer than 50 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('login')?.errors?.pattern"
                  jhiTranslate="register.messages.validate.login.pattern"
                >
                  Your username can only contain letters and digits.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" />

              <div
                *ngIf="
                  registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('firstName')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label jhiTranslate="userManagement.lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" formControlName="lastName" />

              <div
                *ngIf="
                  registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('lastName')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.dateNaissance" for="field_dateNaissance"
                >Date Naissance</label
              >
              <div class="input-group">
                <input
                  id="field_dateNaissance"
                  data-cy="dateNaissance"
                  type="text"
                  class="form-control"
                  name="dateNaissance"
                  ngbDatepicker
                  #dateNaissanceDp="ngbDatepicker"
                  formControlName="dateNaissance"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
              <div
                *ngIf="
                  registerForm.get('dateNaissance')!.invalid &&
                  (registerForm.get('dateNaissance')!.dirty || registerForm.get('dateNaissance')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('dateNaissance')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.lieuNaissance" for="field_lieuNaissance"
                >Lieu Naissance</label
              >
              <input
                type="text"
                class="form-control"
                name="lieuNaissance"
                id="field_lieuNaissance"
                data-cy="lieuNaissance"
                formControlName="lieuNaissance"
              />
              <div
                *ngIf="
                  registerForm.get('lieuNaissance')!.invalid &&
                  (registerForm.get('lieuNaissance')!.dirty || registerForm.get('lieuNaissance')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('lieuNaissance')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.genre" for="field_genre">Genre</label>
              <select class="form-control" data-cy="genre" name="genre" formControlName="genre">
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
              <div *ngIf="registerForm.get('genre')!.invalid && (registerForm.get('genre')!.dirty || registerForm.get('genre')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('genre')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="email"
              />

              <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required"
                >
                  Your email is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid"
                >
                  Your email is invalid.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength"
                >
                  Your email is required to be at least 5 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength"
                >
                  Your email cannot be longer than 100 characters.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="password"
                data-cy="firstPassword"
              />

              <div
                *ngIf="
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Your password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength"
                >
                  Your password is required to be at least 4 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
                >New password confirmation</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="secondPassword"
              />

              <div
                *ngIf="
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required"
                >
                  Your confirmation password is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength"
                >
                  Your confirmation password is required to be at least 8 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                >
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.numeroTelephone" for="field_numeroTelephone"
                >Numero Telephone</label
              >
              <input
                type="text"
                class="form-control"
                name="numeroTelephone"
                id="field_numeroTelephone"
                data-cy="numeroTelephone"
                formControlName="numeroTelephone"
              />
              <div
                *ngIf="
                  registerForm.get('numeroTelephone')!.invalid &&
                  (registerForm.get('numeroTelephone')!.dirty || registerForm.get('numeroTelephone')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('numeroTelephone')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.pieceIdentite" for="field_pieceIdentite"
                >Piece Identite</label
              >
              <div>
                <div *ngIf="registerForm.get('pieceIdentite')!.value" class="form-text text-danger clearfix">
                  <a
                    class="pull-left"
                    (click)="openFile(registerForm.get('pieceIdentite')!.value, registerForm.get('pieceIdentiteContentType')!.value)"
                    jhiTranslate="entity.action.open"
                    >open</a
                  ><br />
                  <span class="pull-left"
                    >{{ registerForm.get('pieceIdentiteContentType')!.value }},
                    {{ byteSize(registerForm.get('pieceIdentite')!.value) }}</span
                  >
                  <button
                    type="button"
                    (click)="registerForm.patchValue({ pieceIdentite: null }); registerForm.patchValue({ pieceIdentiteContentType: null })"
                    class="btn btn-secondary btn-xs pull-right"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
                <input
                  type="file"
                  id="file_pieceIdentite"
                  data-cy="pieceIdentite"
                  (change)="setFileData($event, 'pieceIdentite', false)"
                  jhiTranslate="entity.action.addblob"
                />
              </div>
              <input
                type="hidden"
                class="form-control"
                name="pieceIdentite"
                id="field_pieceIdentite"
                data-cy="pieceIdentite"
                formControlName="pieceIdentite"
              />
              <input
                type="hidden"
                class="form-control"
                name="pieceIdentiteContentType"
                id="field_pieceIdentiteContentType"
                formControlName="pieceIdentiteContentType"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.nationnalite" for="field_nationnalite">Nationnalite</label>
              <select
                class="form-control"
                id="field_nationnalite"
                data-cy="nationnalite"
                name="nationnalite"
                formControlName="nationnalite"
              >
                <option *ngIf="!registerForm.get('nationnalite')!.value" [ngValue]="null" selected></option>
                <option
                  [ngValue]="
                    nationnaliteOption.id === registerForm.get('nationnalite')!.value?.id
                      ? registerForm.get('nationnalite')!.value
                      : nationnaliteOption
                  "
                  *ngFor="let nationnaliteOption of nationnalitesSharedCollection"
                >
                  {{ nationnaliteOption.libelle }}
                </option>
              </select>
            </div>
            <div
              *ngIf="
                registerForm.get(['nationnalite'])!.invalid &&
                (registerForm.get(['nationnalite'])!.dirty || registerForm.get(['nationnalite'])!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get(['nationnalite'])?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.zoneExploitation" for="field_zoneExploitation"
                >Zone Exploitation</label
              >
              <select
                class="form-control"
                id="field_zoneExploitation"
                data-cy="zoneExploitation"
                name="zoneExploitation"
                formControlName="zoneExploitation"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    zoneExploitationOption.id === registerForm.get('zoneExploitation')!.value?.id
                      ? registerForm.get('zoneExploitation')!.value
                      : zoneExploitationOption
                  "
                  *ngFor="let zoneExploitationOption of zoneExploitationsSharedCollection"
                >
                  {{ zoneExploitationOption.region }}
                </option>
              </select>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-profile">Profil <span style="color: red">*</span> :</label>
              <select class="form-control" formControlName="profileSelected" id="input-profile" name="profileSelected">
                <option [value]="'ROLE_PRODUCTEUR'">Producteur</option>
                <option [value]="'ROLE_COOPERATIVE'">Coopérative</option>
                <option [value]="'ROLE_PISTEUR'">Pisteur</option>
                <option [value]="'ROLE_ACHATEUR_EXPORTEUR'">Acheteur & Exportateur</option>
              </select>
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get(['profileSelected'])?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
            <br />
            <button type="button" class="btn" (click)="annuller()">Annuller</button>
            <button
              type="submit"
              [disabled]="registerForm.invalid"
              class="btn btn-primary float-right"
              style="text-align: center"
              jhiTranslate="register.form.button"
              data-cy="submit"
            >
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
