/* :host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav-brand {
  width: 215px;
  text-align: justify;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}
.twistie-separator {
  flex: 1 1 0%;
}

.routeIcon {
  margin-right: 10px;
  font-size: 16pt;
}

.menu-item-text {
  font-size: 10pt;
}

.menu-twistie {
  font-size: 10pt;
  height: 12px;
  width: 12px;
}

.mat-list-item.active {
  background-color: #e8eaf6;
}
.visible-md {
  display: block;
}
.visible-sm {
  display: block;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.sidenav-icon {
  text-decoration: none;
  padding: 0 10px;
}

.nav-spacer {
  flex: 1 1 auto;
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 56px;
  bottom: 0;
  background: #fff;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  z-index: 999;

  .mat-nav-list {
      width: 100%;
      a {
        .mat-icon {
            margin-right: 15px;
        }
        display: block;
    }
  }
}
.nested-menu {
  .nested {
      list-style-type: none;
  }
  .submenu {
      display: none;
      height: 0;
  }
  & .expand {
      &.submenu {
          display: block;
          list-style-type: none;
          height: auto;
          margin: 0;
          li {
              a {
                  padding: 10px;
                  display: block;
              }
          }
      }
  }
}


.fix-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 10px;
 }
 mat-sidenav {
  width: 200px;
  padding:15px;
}
.mat-drawer {
  background-color: #023075;
  color:#fff
}
.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
} */

.mat-list-item {
  font-weight: bold;
  color: mat-color(--blue, darker) !important;
  background: rgba(0, 0, 0, 0.04);
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo-nav {
  text-align: center;
  color: white;
  background-color: rgb(8, 75, 8);
}
.contai {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mat {
  flex-grow: 1;
  border: 3px solid green;
  overflow: auto;
}
.a {
  font-weight: bolder;
  size: 30px;
  line-height: 1.8;
  font-family: 'Franklin Gothic Demi Cond, Franklin Gothic Demi Cond';
}

.toolbar {
  position: fixed;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  background-color: green;
}
.nav-spacer {
  flex: 1 1;
}
h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
/*
    DEMO STYLE
*/

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  background: white;
  color: black;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: green;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: white;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
