<div id="page">
  <main class="pattern">
    <section class="hero_single version_2">
      <div class="wrapper">
        <div class="container float-right">
          <h3>BIENVENUE SUR LE PORTAIL EBEDOU</h3>
          <p>Mettre un texte descriptif ici</p>
          <button class="btn_1 rounded sign-in" *ngIf="!account" (click)="login()" jhiTranslate="global.menu.account.login">
            S'authentifier maintenant
          </button>
          <button
            class="btn_1 rounded sign-in"
            style="margin-left: 70px"
            *ngIf="!account"
            (click)="inscription()"
            jhiTranslate="global.messages.info.register.link"
          >
            Inscription
          </button>
        </div>
      </div>
    </section>
    <!-- /hero_single -->
  </main>
</div>
<!-- page -->

<div id="toTop"></div>
<!-- Back to top button -->
