<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-infoplus-heading" data-cy="InfoplusCreateUpdateHeading" jhiTranslate="ebedouApp.infoplus.home.createOrEditLabel">
        Create or edit a Infoplus
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.numeroTelephone" for="field_numeroTelephone"
            >Numero Telephone</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroTelephone"
            id="field_numeroTelephone"
            data-cy="numeroTelephone"
            formControlName="numeroTelephone"
          />
          <div
            *ngIf="
              editForm.get('numeroTelephone')!.invalid &&
              (editForm.get('numeroTelephone')!.dirty || editForm.get('numeroTelephone')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numeroTelephone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.pieceIdentite" for="field_pieceIdentite">Piece Identite</label>
          <div>
            <div *ngIf="editForm.get('pieceIdentite')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('pieceIdentite')!.value, editForm.get('pieceIdentiteContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('pieceIdentiteContentType')!.value }}, {{ byteSize(editForm.get('pieceIdentite')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ pieceIdentite: null }); editForm.patchValue({ pieceIdentiteContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_pieceIdentite"
              data-cy="pieceIdentite"
              (change)="setFileData($event, 'pieceIdentite', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="pieceIdentite"
            id="field_pieceIdentite"
            data-cy="pieceIdentite"
            formControlName="pieceIdentite"
          />
          <input
            type="hidden"
            class="form-control"
            name="pieceIdentiteContentType"
            id="field_pieceIdentiteContentType"
            formControlName="pieceIdentiteContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.copieAgrement" for="field_copieAgrement">Copie Agrement</label>
          <div>
            <div *ngIf="editForm.get('copieAgrement')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('copieAgrement')!.value, editForm.get('copieAgrementContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('copieAgrementContentType')!.value }}, {{ byteSize(editForm.get('copieAgrement')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ copieAgrement: null }); editForm.patchValue({ copieAgrementContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_copieAgrement"
              data-cy="copieAgrement"
              (change)="setFileData($event, 'copieAgrement', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="copieAgrement"
            id="field_copieAgrement"
            data-cy="copieAgrement"
            formControlName="copieAgrement"
          />
          <input
            type="hidden"
            class="form-control"
            name="copieAgrementContentType"
            id="field_copieAgrementContentType"
            formControlName="copieAgrementContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.dateNaissance" for="field_dateNaissance">Date Naissance</label>
          <div class="input-group">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="text"
              class="form-control"
              name="dateNaissance"
              ngbDatepicker
              #dateNaissanceDp="ngbDatepicker"
              formControlName="dateNaissance"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateNaissance')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
          <input
            type="text"
            class="form-control"
            name="lieuNaissance"
            id="field_lieuNaissance"
            data-cy="lieuNaissance"
            formControlName="lieuNaissance"
          />
          <div
            *ngIf="
              editForm.get('lieuNaissance')!.invalid && (editForm.get('lieuNaissance')!.dirty || editForm.get('lieuNaissance')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lieuNaissance')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.genre" for="field_genre">Genre</label>
          <input type="text" class="form-control" name="genre" id="field_genre" data-cy="genre" formControlName="genre" />
          <div *ngIf="editForm.get('genre')!.invalid && (editForm.get('genre')!.dirty || editForm.get('genre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('genre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.nationnalite" for="field_nationnalite">Nationnalite</label>
          <select class="form-control" id="field_nationnalite" data-cy="nationnalite" name="nationnalite" formControlName="nationnalite">
            <option *ngIf="!editForm.get('nationnalite')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                nationnaliteOption.id === editForm.get('nationnalite')!.value?.id ? editForm.get('nationnalite')!.value : nationnaliteOption
              "
              *ngFor="let nationnaliteOption of nationnalitesSharedCollection; trackBy: trackNationnaliteById"
            >
              {{ nationnaliteOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['nationnalite'])!.invalid && (editForm.get(['nationnalite'])!.dirty || editForm.get(['nationnalite'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['nationnalite'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ebedouApp.infoplus.zoneExploitation" for="field_zoneExploitation"
            >Zone Exploitation</label
          >
          <select
            class="form-control"
            id="field_zoneExploitation"
            data-cy="zoneExploitation"
            name="zoneExploitation"
            formControlName="zoneExploitation"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                zoneExploitationOption.id === editForm.get('zoneExploitation')!.value?.id
                  ? editForm.get('zoneExploitation')!.value
                  : zoneExploitationOption
              "
              *ngFor="let zoneExploitationOption of zoneExploitationsSharedCollection; trackBy: trackZoneExploitationById"
            >
              {{ zoneExploitationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
