<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="produit">
      <h2 data-cy="produitDetailsHeading"><span jhiTranslate="ebedouApp.produit.detail.title">Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produit.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.produit.libelle">Libelle</span></dt>
        <dd>
          <span>{{ produit.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.produit.dateAjout">Date Ajout</span></dt>
        <dd>
          <span>{{ produit.dateAjout | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.produit.dateModification">Date Modification</span></dt>
        <dd>
          <span>{{ produit.dateModification | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
