<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="imageProduit">
      <h2 data-cy="imageProduitDetailsHeading"><span jhiTranslate="ebedouApp.imageProduit.detail.title">Image Produit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ imageProduit.id }}</span>
        </dd>
        <dt><span jhiTranslate="ebedouApp.imageProduit.image">Image</span></dt>
        <dd>
          <div *ngIf="imageProduit.image">
            <a (click)="openFile(imageProduit.image, imageProduit.imageContentType)">
              <img
                [src]="'data:' + imageProduit.imageContentType + ';base64,' + imageProduit.image"
                style="max-width: 100%"
                alt="imageProduit image"
              />
            </a>
            {{ imageProduit.imageContentType }}, {{ byteSize(imageProduit.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="ebedouApp.imageProduit.date">Date</span></dt>
        <dd>
          <span>{{ imageProduit.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/image-produit', imageProduit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
