<div class="container-fluid">
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span jhiTranslate="userManagement.detail.title">User</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge badge-success" jhiTranslate="userManagement.activated">Activated</span>
          <span *ngIf="!user.activated" class="badge badge-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
        </dd>

        <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span jhiTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>
      <div *ngIf="infoplus">
       
        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
        
          <dt><span jhiTranslate="ebedouApp.infoplus.numeroTelephone">Numero Telephone</span></dt>
          <dd>
            <span>{{ infoplus.numeroTelephone }}</span>
          </dd>
          <dt><span jhiTranslate="ebedouApp.infoplus.pieceIdentite">Piece Identite</span></dt>
          <dd>
            <div *ngIf="infoplus.pieceIdentite">
              <a (click)="openFile(infoplus.pieceIdentite, infoplus.pieceIdentiteContentType)" jhiTranslate="entity.action.open">open</a>
              {{ infoplus.pieceIdentiteContentType }}, {{ byteSize(infoplus.pieceIdentite) }}
            </div>
          </dd>
          =
          <dt><span jhiTranslate="ebedouApp.infoplus.dateNaissance">Date Naissance</span></dt>
          <dd>
            <span>{{ infoplus.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="ebedouApp.infoplus.lieuNaissance">Lieu Naissance</span></dt>
          <dd>
            <span>{{ infoplus.lieuNaissance }}</span>
          </dd>
          <dt><span jhiTranslate="ebedouApp.infoplus.genre">Genre</span></dt>
          <dd>
            <span>{{ infoplus.genre }}</span>
          </dd>
         
          <dt><span jhiTranslate="ebedouApp.infoplus.nationnalite">Nationalite</span></dt>
          <dd>
            <div *ngIf="infoplus.nationnalite">
              {{ infoplus.nationnalite?.libelle }}
            </div>
          </dd>
          <dt><span jhiTranslate="ebedouApp.infoplus.zoneExploitation">Zone Exploitation</span></dt>
          <dd>
            <div *ngIf="infoplus.zoneExploitation">
             {{ infoplus.zoneExploitation?.region }}
            </div>
          </dd>
        </dl>

      </div>
      <button type="submit" (click)="pre()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>

  </div>
</div>
</div>